mixin franchise(data)
    +el({
        class: 'franchise',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .franchise__wrap
            .franchise__inner
                .franchise__heading
                    |
                .franchise__text
                    |
                +request({
                    mix: 'franchise__form',
                    submit: data.submit
                })
