mixin property(data)
    +el({
        class: 'property',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'property__list',
        })
            each item, index in ['xs', 's', 'm', 'l', 'xl', 'xxl']
                +el({
                    tag: 'li',
                    class: 'property__item',
                    mix: index == 0 ? 'active' : '',
                })
                    +property-item({
                        tag: 'button',
                        text: item,
                        name: 'property',
                        value: item,
                        js: 'property-size',
                        mix: 'property__property-button'
                    })
