mixin modal(data)
    +el({
        class: 'modal',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    }).js-modal&attributes(attributes)
        +overlay({
            mix: 'modal__overlay',
            js: 'overlay-modal'
        })
        .modal__dialog
            +button-remove({
                mod: 'bg-primary',
                mix: 'modal__remove',
                js: 'close-modal'
            })
            .modal__dialog-inner
                if data.heading
                    +el({
                        tag: 'h3',
                        class: 'modal__heading',
                        text: data.heading,
                    })
                if data.text
                    +el({
                        tag: 'p',
                        class: 'modal__text',
                        text: data.text,
                    })
                block
