.catalog-preview__wrap {
  @include wrapper;
  padding-top: get($y, small, size-230);
  padding-bottom: get($y, small, size-160);
}

.catalog-preview__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: font(secondary);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.catalog-preview__top {
  margin-bottom: 50px;
}

.catalog-preview__button {
  display: block;
  width: 100%;
}

.catalog-preview__tabs {
  margin-bottom: get($y, small, size-100);
}

.catalog-preview__bottom {
  margin-top: 30px;
  text-align: center;
}

.catalog-preview__button-top {
  display: block;
}

.catalog-preview__button-top,
.catalog-preview__button-bottom {
  width: 100%;
}

.catalog-preview__control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .control {
    &--prev {
      margin-right: 50px;
    }
  }
}

@include respond-to(small-lg) {
  .catalog-preview__wrap {
    .bullet {
      display: none;
    }
  }

  .catalog-preview__bottom {
    text-align: right;
  }

  .catalog-preview__button-top {
    width: auto;
  }

  .catalog-preview__button-bottom {
    width: auto;
    margin-left: auto;
  }

  .catalog-preview__control {
    display: none;
  }
}

@include respond-to(medium) {
  .catalog-preview__wrap {
    padding-top: get($y, medium, size-230);
    padding-bottom: get($y, medium, size-160);
  }

  .catalog-preview__heading {
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 35px;
    text-align: left;
  }

  .catalog-preview__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .catalog-preview__button {
    display: block;
    width: auto;
  }

  .catalog-preview__tabs {
    margin-bottom: get($y, medium, size-100);
  }

  .catalog-preview__bottom {
    margin-top: 40px;
  }
}

@include respond-to(large) {
  .catalog-preview__wrap {
    padding-top: get($y, large, size-230);
    padding-bottom: get($y, large, size-160);
  }

  .catalog-preview__heading {
    font-size: 44px;
  }

  .catalog-preview__tabs {
    margin-bottom: get($y, large, size-100);
  }

  .catalog-preview__bottom {
    margin-top: 50px;
  }

}
