mixin catalog-preview(data)
    +el({
        tag: 'section',
        class: 'catalog-preview',
        mod: data.mod,
        mix: data.mix,
        js: 'tabs',
    })&attributes(attributes)
        .catalog-preview__wrap
            .catalog-preview__top
                h2.catalog-preview__heading Уличный стиль, <br>который станет незаменимым <br>в&nbsp;повседневной жизни
                +button({
                    tag: 'a',
                    mod: 'bg-black',
                    mix: 'catalog-preview__button-top',
                    text: 'Узнай всё о&nbsp;тендециях в&nbsp;уличной моде'
                })
            +tabs({
                mix: 'catalog-preview__tabs',
                items: [
                    {
                        text: 'Новинки',
                    },
                    {
                        text: 'Топ продаж',
                    }
                ],
            })
            .tab-1.js-content-tabs.active
                .js-new-slider.swiper-container
                    .catalog-preview__control
                        +control({
                            tag: 'button',
                            mod: 'prev',
                            js: 'new-prev'
                        })
                        +control({
                            tag: 'button',
                            mod: 'next',
                            js: 'new-next'
                        })
                    +goods-list({
                        mix: 'catalog-preview__list swiper-wrapper',
                        goods: goodsItems,
                    })
                    .bullet.js-new-bullet.swiper-pagination
            .tab-2.js-content-tabs
                .js-top-slider.swiper-container
                    .catalog-preview__control
                        +control({
                            tag: 'button',
                            mod: 'prev',
                            js: 'top-prev'
                        })
                        +control({
                            tag: 'button',
                            mod: 'next',
                            js: 'top-next'
                        })
                    +goods-list({
                        mix: 'catalog-preview__list swiper-wrapper',
                        goods: goodsItems2,
                    })
                    .bullet.js-top-bullet.swiper-pagination
            .catalog-preview__bottom
                +button({
                    tag: 'a',
                    mix: 'catalog-preview__button-bottom',
                    mod: 'bg-primary',
                    text: 'Перейти в каталог'
                })
