@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src:
    url('../assets/fonts/centurygothic/centurygothic-regular.woff2') format('woff2'),
    url('../assets/fonts/centurygothic/centurygothic-regular.woff') format('woff');
}
