extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    main.content.content--regular
        .content__wrap
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="page-exchange.html") Обмен и возврат товара
                li
                    a(href="page-about-us.html") О нас
                li
                    a(href="page-our-stores.html") Наши магазины
                li
                    a(href="page-contacts.html") Контакты
                li
                    a(href="page-posts.html") Статьи
                li
                    a(href="page-posts-item.html") Статья
                li
                    a(href="page-wishlist.html") Избранное
                li
                    a(href="components.html") Компоненты
