extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    main.content
        +content-header({
            heading: 'Оформление заказа',
            mod: ['bg-transparent'],
            mix: 'content__header',
        })
        .content__order
            +order({

            })
