extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    main.content
        +content-header({
            heading: 'Наши магазины',
            mod: ['bg-light'],
            mix: 'content__header',
        })
        .content__content
            .our-stores.js-tabs.content__our-stores
                .our-stores__wrap
                    //  data-more количество показанных строк на мобильной версии
                    +table-store({
                        table: tableStore,
                        mix: 'our-stores__table',
                        js: 'more-content',
                    })(data-more='3')
                    +button({
                        mix: 'our-stores__button-more',
                        text: 'Смотреть больше',
                        js: 'more-button-mob',
                    })

                    +el({
                        tag: 'section',
                        class: 'our-stores__map-section',
                        js: 'our-stores-section'
                    })
                        h2.our-stores__heading.js-our-stores-heading Ялта - ул. Московская 3
                        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
                        +map({
                            mix: 'our-stores__map',
                            id: 'our-stores-map'
                        })

            +card-form({
                image: 'franchise.jpg',
                heading: 'Открой для себя бизнес с&nbsp;брендом BANDIT',
                text: 'Наша франшиза&nbsp;&mdash; это нечто большее, чем просто бизнес.',
                submit: 'Получить финансовую модель компании',
            })
