extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    main.content
        .content__wrap
            +breadcrumbs({
                items: ['Каталог', 'Bandit Анорак «Tag»'],
                mix: 'content__breadcrumbs',
            })
        .content__goods
            +goods-view({
                mix: 'content__goods-view',
            })
