extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    main.content
        .content__wrap
            +breadcrumbs({
                items: ['Каталог', 'Bandit Анорак «Tag»'],
                mix: 'content__breadcrumbs',
            })
        .content__goods
            +goods-view({
                mix: 'content__goods-view',
            })
            +goods-line({
                mix: 'content__recommend-line',
                heading: 'Вам может понравиться',
                js: 'recommend',
            })
            +goods-line({
                heading: 'С этим товаром покупают',
                js: 'w-product-buy'
            })
block modalPage
    +modal({
        js: 'one-click-modal',
        heading: 'Товар/размер/стоимость',
    })
        +form({
            group: [
                {
                    firstName: true,
                    modField: ['size-lg', 'bg-light'],
                    tel: true,
                    email: true
                },
            ],
            confirm: true,
            submit: 'Заказать'
        })
