extends ./templates/template

block vars
    - var pageTitle = 'Бандит'
    - var main = true
    - var pageId = 1

block content
    main.content
        +intro({})
        +quote-primary({
            mod: 'bg-light',
            text: 'Успех строится из мелочей, и&nbsp;одежда BANDIT готова стать твоим надежным попутчиком, обладая запасом качества на&nbsp;который всегда можно положиться.'
        })
        +catalog-preview({
        })
        +card-more({
            image: 'order.jpg',
            text: 'Ты можешь не&nbsp;просто приобрести у&nbsp;нас одежду, но&nbsp;и&nbsp;разместить заказ на&nbsp;индивидуальное производство любых вещей',
            link: 'Узнать подробнее'
        })
        +features({
            items: features,
        })
        +reviews({
            items: reviews
        })
        +gallery({
        })
        +events({
        })
        +card-form({
            image: 'franchise.jpg',
            heading: 'Открой для себя бизнес с&nbsp;брендом BANDIT',
            text: 'Наша франшиза&nbsp;&mdash; это нечто большее, чем просто бизнес.',
            submit: 'Получить финансовую модель компании',
        })
