extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    +content-header({
        heading: 'Обмен и возврат товара',
        mod: ['bg-light'],
        mix: 'content__header'
    })
    +exchange({

    })
