extends ./templates/template

block vars
    - var pageTitle = 'Бандит'
    - var main = true
    - var pageId = 1

block content
    main
        .content
            +intro({})
            +teaser({})
            +catalog-preview({
            })
            +order({
            })
            +features({
                items: features,
            })
            +reviews({
                items: reviews
            })
            +gallery({
            })
            +events({
            })
            +franchise({
                mod: 'franshiza'
            })
