extends ./templates/template

block vars
    - var pageTitle = 'Бандит'

block content
    main.content
        +content-header({
            heading: 'Каталог',
            mod: ['with-bg', 'heading-lg'],
            mix: 'content__header',
            image: 'header-catalog.jpg',
            arrow: 'no',
        })
        .content__catalog
            +catalog-nav({
                mix: 'content__catalog-nav',
            })
            +catalog({})
            +pagination({
                mix: 'content__pagination',
            })
