.content {
  margin-top: 60px;
}

.content__wrap {
  @include wrapper;
}

.content__content {
  &--pads {
    padding-top: get($y, small, size-100);
    padding-bottom: get($y, small, size-200);
  }

  &--pads-top {
    padding-top: get($y, small, size-100);
  }

  &--pads-bottom {
    padding-bottom: get($y, small, size-200);
  }
}

.content__card {
  margin-bottom: get($y, small, size-180);
}

.content__our-stores {
  margin-bottom: get($y, small, size-200);
}

.content__contacts {
  margin-bottom: get($y, small, size-150);
}

.content__posts {
  padding-top: get($y, small, size-135);
  padding-bottom: get($y, small, size-125);
}

.content__pagination {
  margin-top: get($y, small, size-70);
}

.content__posts-item {
  padding-top: 20px;
  padding-bottom: get($y, small, size-170);
}

.content__wishlist {
  padding-top: 40px;
  padding-bottom: get($y, small, size-200);
}

.content__delivery {
  padding-top: 40px;
  padding-bottom: get($y, small, size-170);
}

.content__delivery-section {
  margin-bottom: get($y, small, size-300);
}

.content__franchise {
  padding-top: get($y, small, size-110);
}

.content__franchise-section {
  margin-bottom: get($y, small, size-130);
}

.content__sizes {
  padding-bottom: get($y, small, size-250);
}

.content__order {
  padding-bottom: get($y, small, size-90);
}

.content__breadcrumbs {
  margin-top: 40px;
  margin-bottom: 40px;
}

@include respond-to(small-lg) {
  .content {
    margin-top: 64px;
  }
}

@include respond-to(medium) {
  .content {
    margin-top: 60px;
  }

  .content__content {
    &--pads {
      padding-top: get($y, medium, size-100);
      padding-bottom: get($y, medium, size-200);
    }

    &--pads-top {
      padding-top: get($y, medium, size-100);
    }

    &--pads-bottom {
      padding-bottom: get($y, medium, size-200);
    }
  }

  .content__card {
    margin-bottom: get($y, medium, size-180);
  }

  .content__our-stores {
    margin-bottom: get($y, medium, size-200);
  }

  .content__contacts {
    margin-bottom: get($y, medium, size-150);
  }

  .content__posts {
    padding-top: get($y, medium, size-135);
    padding-bottom: get($y, medium, size-125);
  }

  .content__pagination {
    margin-top: get($y, medium, size-70);
  }

  .content__posts-item {
    padding-bottom: get($y, medium, size-170);
  }

  .content__wishlist {
    padding-bottom: get($y, medium, size-200);
  }

  .content__delivery {
    padding-top: 50px;
    padding-bottom: get($y, medium, size-170);

    @include first-last;
  }

  .content__delivery-section {
    margin-bottom: get($y, medium, size-300);
  }

  .content__franchise {
    padding-top: get($y, medium, size-110);
  }

  .content__franchise-section {
    margin-bottom: get($y, medium, size-130);
  }

  .content__sizes {
    padding-bottom: get($y, medium, size-250);
  }

  .content__order {
    padding-bottom: get($y, medium, size-90);
  }

  .content__breadcrumbs {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@include respond-to(medium-lg) {
  .content {
    margin-top: 70px;
  }
}

@include respond-to(large) {
  .content__content {
    &--pads {
      padding-top: get($y, large, size-100);
      padding-bottom: get($y, large, size-200);
    }

    &--pads-top {
      padding-top: get($y, large, size-100);
    }

    &--pads-bottom {
      padding-bottom: get($y, large, size-200);
    }
  }

  .content__card {
    margin-bottom: get($y, large, size-180);
  }

  .content__our-stores {
    margin-bottom: get($y, large, size-200);
  }

  .content__contacts {
    margin-bottom: get($y, large, size-150);
  }

  .content__posts {
    padding-top: get($y, large, size-135);
    padding-bottom: get($y, large, size-125);
  }

  .content__pagination {
    margin-top: get($y, large, size-70);
  }

  .content__posts-item {
    padding-bottom: get($y, large, size-170);
  }

  .content__wishlist {
    padding-bottom: get($y, large, size-200);
  }

  .content__delivery {
    padding-top: 60px;
    padding-bottom: get($y, large, size-170);
  }

  .content__delivery-section {
    margin-bottom: get($y, large, size-300);
  }

  .content__franchise {
    padding-top: get($y, large, size-110);
  }

  .content__franchise-section {
    margin-bottom: get($y, large, size-130);
  }

  .content__sizes {
    padding-bottom: get($y, large, size-250);
  }

  .content__order {
    padding-bottom: get($y, large, size-90);
  }

  .content__breadcrumbs {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@include respond-to(large-lg) {
  .content {
    margin-top: 0;
  }
}
