.callback {
}

.callback__button,
.callback__link {
  flex-shrink: 0;
  display: block;
  width: auto;
}

.callback__button {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #262626;
  border-color: #262626;

  @include hover {
    color: rgba(color(light), 0.5);
  }
}

.callback__link {
  margin-left: auto;
  font-family: font(secondary);
  font-size: 20px;
  font-weight: 400;
  color: color(white);
  text-decoration: none;
  text-align: center;
}

@include respond-to(medium) {
  .callback__button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include respond-to(large) {
  .callback__link {
    font-size: 22px;
  }
}
