.catalog-preview {

}

.catalog-preview__wrap {
  @include wrapper;
}

.catalog-preview__inner {
  padding-top: 50px;
  padding-bottom: 30px;
}

.catalog-preview__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: font(secondary);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.catalog-preview__top {
  margin-bottom: 50px;
}

.catalog-preview__button {
  display: block;
  width: 100%;
}

.catalog-preview__tabs {
  margin-bottom: 30px;
}

.catalog-preview__bottom {
  margin-top: 30px;
  text-align: center;
}

.catalog-preview__button-top {
  display: block;
}

.catalog-preview__button-top,
.catalog-preview__button-bottom {
  width: 100%;
}

@include respond-to(small-lg) {
  .catalog-preview__bottom {
    text-align: right;
  }

  .catalog-preview__button-top {
    width: auto;
  }

  .catalog-preview__button-bottom {
    width: auto;
    margin-left: auto;
  }
}

@include respond-to(medium) {
  .catalog-preview__inner {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .catalog-preview__heading {
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 35px;
    text-align: left;
  }

  .catalog-preview__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .catalog-preview__button {
    display: block;
    width: auto;
  }

  .catalog-preview__tabs {
    margin-bottom: 50px;
  }

  .catalog-preview__bottom {
    margin-top: 40px;
  }
}

@include respond-to(large) {
  .catalog-preview__inner {
    padding-top: 230px;
    padding-bottom: 160px;
  }

  .catalog-preview__heading {
    font-size: 45px;
  }

  .catalog-preview__tabs {
    margin-bottom: 100px;
  }

  .catalog-preview__bottom {
    margin-top: 50px;
  }
}
