.features {
  background-color: color(light);
}

.features__wrap {
  @include wrapper;
  padding-top: get($y, small, size-160);
  padding-bottom: get($y, small, size-100);
}

.features__list {
  @include ul-no;
}

.features__heading {
  margin: 0;
  margin-bottom: get($y, small, size-120);
  text-align: center;
}

.features__item {
  margin-bottom: get($y, small, size-40);

}

@include respond-to(medium) {
  .features__wrap {
    padding-top: get($y, medium, size-160);
    padding-bottom: get($y, medium, size-100);
  }

  .features__heading {
    margin-bottom: get($y, medium, size-120);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .features__item {
    width: 33.33%;
    margin-bottom: get($y, medium, size-40);
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include respond-to(large) {
  .features__wrap {
    padding-top: get($y, large, size-160);
    padding-bottom: get($y, large, size-100);
  }

  .features__heading {
    margin-bottom: get($y, large, size-120);
  }

  .features__item {
    margin-bottom: get($y, large, size-40);
  }
}
