.goods {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.goods__image-wrap {
  overflow: hidden;
  display: block;
  height: 300px;
  background-color: color(light);
  text-decoration: none;

  @include hover {

  }
}

.goods__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
  // transition: duration(md);
}

.goods__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.goods__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.goods__heading {
  margin: 0;
  font-family: font(primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.goods__heading-link {
  text-decoration: none;
  color: color(black);
}

.goods__button {
  margin: 0 20px;
}

.goods__price {
  margin-top: auto;
  margin-bottom: 10px;
  font-family: font(primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.goods__link {
  width: auto;
}

@include respond-to(620px) {
  .goods__image-wrap {
    height: 330px;
  }

  .goods__heading {
    font-size: 17px;
  }
}

@include respond-to(large) {
  .goods__image-wrap {
    height: 370px;
  }

  .goods__heading {
    font-size: 18px;
  }
}
