.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: color(black);
  color: color(light);

  &.active {
    position: fixed;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
}

.header__logo-wrap {
  display: block;

  &--small {
    margin: 0 10px;
    width: 36px;
    height: 36px
  }

  &--medium {
    display: none;
    width: 102px;
    height: 40px;
  }

  &--large {
    width: 200px;
    height: 78px;
    margin-bottom: 40px;
  }
}

.header__logo {
  display: block;
  width: 100%;
  height: 100%;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  @include ul-no;

  &--mobile {
    justify-content: flex-start;
    width: calc(50% - 30px);
    margin-right: auto;
  }

  &--user-desktop {
    display: none;
  }

  &--user-mobile {
    justify-content: flex-end;
    width: calc(50% - 30px);
    margin-left: auto;
  }
}

.header__item {
  min-width: 32px;
  min-height: 32px;
  margin-bottom: 0;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.header__dialog {
  position: relative;
  z-index: 1;
  display: none;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
  background: color(black);
  transition: duration(md) func(primary);
  overflow: hidden;

  &.active {
    display: block;
  }

  &--callback {
    padding-right: 10px;
  }
}

.header__dialog-remove {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.header__panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  transform: translate(-100%);
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 40px 0;
  background-color: color(black);
  color: color(white);
  transition: duration(md) func(primary);
  overflow-y: auto;

  &.active {
    transform: translate(0%);
  }
}

.header__panel-top {
  padding: 0 40px;
}

.header__panel-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header__panel-content-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 40px;
}

.header__main-nav-wrap {
  flex-grow: 1;
  margin-bottom: 50px;
}

.header__search {
  &--desktop {
    display: none;
  }
}

.header__callback {
  &--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &--desktop {
    display: none;
  }
}

.header__button-nav {
  &.active {
    position: fixed;
    z-index: 1010;
    top: 15px;
    transform: translate(270px);
  }
}

.header__overlay {
  z-index: 1000;
}

.header__social {
  margin-top: auto;
}

@include respond-to(520px) {
  .header {
    &.active {
    }
  }

  .header__list {
    width: calc(50% - 100px);

    &--mobile {
      order: 1;
    }

    &--user-mobile {
      order: 3;
    }
  }

  .header__inner {
    padding: 10px 20px;
  }

  .header__logo-wrap {
    &--small {
      order: 2;
      margin: 0 20px;
      width: 44px;
      height: 44px
    }
  }

  .header__dialog {
    &--search {
      order: 4;
    }

    &--callback {
      order: 5;
    }
  }
}

@include respond-to(medium-lg) {
  .header__list {
    &--mobile {
      order: 1;
      width: 32px;
      margin-right: 18px;
    }

    &--user-mobile {
      order: 5;
      width: 150px;
      margin-left: 20px;
    }
  }

  .header__item {
    &--search {
      display: none;
    }

    &--callback {
      display: none;
    }
  }

  .header__logo-wrap {
    &--small {
      order: 3;
    }
  }

  .header__dialog {
    display: block;
    max-height: none;
    padding: 0;

    &--search {
      width: 180px;
      margin-left: auto;
      order: 4;
    }

    &--callback {
      order: 2;
      width: 300px;
      margin-right: auto;
      padding-right: 0;
    }
  }

  .header__dialog-remove {
    display: none;
  }

  .header__panel {
    width: 350px;
    padding: 50px 0;
    padding-bottom: 20px;
  }

  .header__panel-top,
  .header__panel-content-inner {
    padding: 0 50px;
  }

  .header__button-nav {
    &.active {
      transform: translate(340px);
    }
  }

  .header__logo-wrap {
    &--small {
    }

    &--medium {
      width: 128px;
      height: 50px;
    }

    &--large {
      width: 250px;
      height: 98px;
      margin-bottom: 50px;
    }
  }
}

@include respond-to(1020px) {
  .header__list {
    &--mobile {
      margin-right: 28px;
    }
  }

  .header__dialog {
    &--search {
      width: 220px;
    }

    &--callback {
      width: 330px;
    }
  }
}

@include respond-to(large-lg) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 350px;
    padding: 0;

    &.active {
      width: 350px;
    }
  }

  .header__inner {
    display: block;
    padding: 0;
  }

  .header__logo-wrap {
    // &--medium {
    //   display: none;
    // }

    &--small {
      display: none;
    }
  }

  .header__list {
    &--mobile {
      display: none;
    }

    &--user-mobile {
      display: none;
    }

    &--user-desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: auto;
      margin-bottom: 40px;
    }
  }

  .header__item {
    min-width: 40px;
    min-height: 40px;
  }

  .header__dialog {
    display: none;
  }

  .header__panel {
    position: static;
    transform: none;
    width: 100%;
    height: 100vh;

    &.active {
      transform: none;
    }
  }

  .header__main-nav-wrap {
    margin-bottom: 50px;
  }

  .header__search {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      margin-bottom: 60px;
    }
  }

  .header__callback {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;

      .callback__button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .header__button-nav {
    display: none;
  }

  .header__overlay {
    display: none;
  }

  .header__social {
    margin-top: 25px;
  }
}
