.order {
  position: relative;
  background-color: color(black);
  background-image: url('../assets/images/bg-order-md.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: color(white);

  @include mask(rgba(color(black), 0.5));
}

.order__wrap {
  @include wrapper;
}

.order__inner {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 60px;
}

.order__heading {
  margin: 0;
  margin-bottom: 30px;
  font-family: font(secondary);
  font-size: 35px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: color(white);
}

.order__button-wrap {
  text-align: center;
}

.order__button {
  display: inline-block;
  vertical-align: middle;
}

@include respond-to(420px) {
  .order {
    // background-image: url('../assets/images/bg-order-md.jpg');
  }
}

@include respond-to(medium) {
  .order {
    // background-image: url('../assets/images/bg-order-lg.jpg');
  }

  .order__inner {
    padding-top: 220px;
    padding-bottom: 135px;
  }

  .order__heading {
    margin-bottom: 50px;
    font-size: 40px;
  }
}

@include respond-to(large) {
  .order__inner {
    padding-top: 265px;
    padding-bottom: 175px;
  }

  .order__heading {
    margin-bottom: 70px;
    font-size: 45px;

    span {
      display: block;
    }
  }
}
