.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin: 5px 0;
  padding: 4px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 1px solid;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  &--bg-black {
    background-color: color(black);
    border-color: color(black);
    color: color(light);

    .social-link__icon {
      fill: color(light);
    }

    @include hover {
      background-color: color(light);
      border-color: color(light);
      color: color(black);

      .social-link__icon {
        fill: color(black);

      }
    }
  }

  &--bg-white {
    background-color: color(white);
    border-color: color(white);
    color: color(black);

    .social-link__icon {
      fill: color(black);
    }

    @include hover {
      background-color: color(black);
      border-color: color(black);
      color: color(light);

      .social-link__icon {
        fill: color(light);
      }
    }
  }

  &--bg-light {
    background-color: color(light);
    border-color: color(light);
    color: color(black);

    .social-link__icon {
      fill: color(black);
    }

    @include hover {
      background-color: color(black);
      border-color: color(black);
      color: color(light);

      .social-link__icon {
        fill: color(light);
      }
    }
  }

  &--border-black {
    border-color: color(black);
    background-color: color(white);
    color: color(black);

    .social-link__icon {
      fill: color(black);
    }

    @include hover {
      background-color: color(black);
      color: color(light);

      .social-link__icon {
        fill: color(light);
      }
    }
  }

  &--large {
    height: 44px;
    width: 44px;
    padding: 6px;

    .social-link__icon {
      width: 32px;
      height: 32px;
    }

    @include hover {
      opacity: 0.5;
    }
  }
}

.social-link__icon {
  display: block;
  width: 18px;
  height: 18px;
}

@include respond-to(large) {
  .social-link {
    height: 40px;
    width: 40px;

    &--large {
      height: 48px;
      width: 48px;

      .social-link__icon {
        width: 36px;
        height: 36px;
      }

      @include hover {
        opacity: 0.5;
      }
    }
  }

  .social-link__icon {
    width: 20px;
    height: 20px;
  }
}
