.table-store {
  margin-bottom: 0;
}

.table-store__tr {
  padding: 20px 0;
  border-bottom: 2px solid color(light);
}

.table-store__th,
.table-store__td {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: none;
}

.table-store__th {
  font-family: font(secondary);
  font-size: 24px;
  line-height: 1.2;
}

.table-store__td {
  &--button {
    margin-top: 10px;
  }
}

@include respond-to(medium) {
  .table-store {
    display: table;
  }

  .table-store__tr {
    display: table-row;
    padding: 0;
    border-bottom: none;
  }

  .table-store__th,
  .table-store__td {
    display: table-cell;
    padding: 40px 10px;
    border-bottom: 2px solid color(light);
    vertical-align: middle;
  }

  .table-store__th {
    width: calc(100% - 540px);
    padding-left: 0;
    text-align: left;
    font-size: 26px;
  }

  .table-store__td {
    text-align: right;

    &:last-child {
      padding-right: 0;
    }

    &--social {
      width: 130px;
    }

    &--time {
      width: 180px;
    }

    &--button {
      width: 250px;
      margin-top: 0;
    }
  }
}

@include respond-to(large) {
  .table-store__th,
  .table-store__td {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .table-store__th {
    width: calc(100% - 670px);
    font-size: 28px;
  }

  .table-store__td {
    &--social {
      width: 160px;
    }

    &--time {
      width: 200px;
    }

    &--button {
      width: 310px;

      .button {
        min-width: 245px;
      }
    }
  }
}
