.content {

}

.content__wrap {
  @include wrapper;
}

.content__content {
  &--pads {
    padding-top: get($y, small, size-100);
    padding-bottom: get($y, small, size-200);
  }

  &--pads-top {
    padding-top: get($y, small, size-100);
  }

  &--pads-bottom {
    padding-bottom: get($y, small, size-200);
  }
}

.content__card {
  margin-bottom: get($y, small, size-180);
}

.content__our-stores {
  margin-bottom: get($y, small, size-200);
}

.content__contacts {
  margin-bottom: get($y, small, size-150);
}

.content__posts {
  padding-top: get($y, small, size-135);
  padding-bottom: get($y, small, size-125);
}

.content__pagination {
  margin-top: get($y, small, size-70);
}

.content__posts-item {
  padding-bottom: get($y, small, size-170);
}

.content__wishlist {
  padding-top: 40px;
  padding-bottom: get($y, small, size-200);
}

@include respond-to(medium) {
  .content__content {
    &--pads {
      padding-top: get($y, medium, size-100);
      padding-bottom: get($y, medium, size-200);
    }

    &--pads-top {
      padding-top: get($y, medium, size-100);
    }

    &--pads-bottom {
      padding-bottom: get($y, medium, size-200);
    }
  }

  .content__card {
    margin-bottom: get($y, medium, size-180);
  }

  .content__our-stores {
    margin-bottom: get($y, medium, size-200);
  }

  .content__contacts {
    margin-bottom: get($y, medium, size-150);
  }

  .content__posts {
    padding-top: get($y, medium, size-135);
    padding-bottom: get($y, medium, size-125);
  }

  .content__pagination {
    margin-top: get($y, medium, size-70);
  }

  .content__posts-item {
    padding-bottom: get($y, medium, size-170);
  }

  .content__wishlist {
    padding-bottom: get($y, medium, size-200);
  }
}

@include respond-to(large) {
  .content__content {
    &--pads {
      padding-top: get($y, large, size-100);
      padding-bottom: get($y, large, size-200);
    }

    &--pads-top {
      padding-top: get($y, large, size-100);
    }

    &--pads-bottom {
      padding-bottom: get($y, large, size-200);
    }
  }

  .content__card {
    margin-bottom: get($y, large, size-180);
  }

  .content__our-stores {
    margin-bottom: get($y, large, size-200);
  }

  .content__contacts {
    margin-bottom: get($y, large, size-150);
  }

  .content__posts {
    padding-top: get($y, large, size-135);
    padding-bottom: get($y, large, size-125);
  }

  .content__pagination {
    margin-top: get($y, large, size-70);
  }

  .content__posts-item {
    padding-bottom: get($y, large, size-170);
  }

  .content__wishlist {
    padding-bottom: get($y, large, size-200);
  }
}
