.button {
  display: inline-block;
  flex-shrink: 0;
  padding: 6px 40px;
  border: 2px solid color(black);
  font-family: font(secondary);
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: duration(md) func(primary);

  &:hover,
  &:focus,
  &.active {
    border-color: color(black);
    background-color: color(black);
    color: color(white);
  }

  &--bg-primary {
    border-color: color(primary);
    background-color: color(primary);
    color: color(white);

    &:hover,
    &:focus,
    &.active {
      border-color: color(black);
      background-color: color(black);
    }
  }

  &--bg-black {
    border-color: color(black);
    background-color: color(black);
    color: color(white);

    &:hover,
    &:focus,
    &.active {
      border-color: color(primary);
      background-color: color(primary);
    }
  }

  &--border-disabled {
    border-color: color(light-gray);
    color: color(light-gray);
  }

  &--border-primary {
    border-color: color(primary);
    color: color(primary);

    &:hover,
    &:focus,
    &.active {
      background-color: color(primary);
      color: color(white);
    }
  }

  &--border-white {
    border-color: color(white);
    color: color(white);

    &:hover,
    &:focus,
    &.active {
      background-color: color(white);
      color: color(black);
    }
  }

  &:disabled,
  &--bg-disabled,
  &--border-disabled {
    pointer-events: none;
    cursor: default;
  }

  &--bg-disabled {
    border-color: color(light-gray);
    background-color: color(light-gray);
    color: color(white);
  }
}

@include respond-to(large) {
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@include respond-to(large) {
  .button {
    padding: 10px 50px;
  }
}
