mixin card-content(data)
    +el({
        tag: data.tag,
        class: 'card-content',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .card-content__wrap
            +el({
                class: 'card-content__card',
                style: 'background-image: url(./assets/images/' + data.image + ');'
            })
                +el({
                    tag: 'p',
                    text: data.text,
                    class: 'card-content__text',
                })
