.content-header {
  &--bg-light {
    background-color: color(light);
  }

  &--bg-black {
    background-color: color(black);
    color: color(white);
  }

  &--bg-transparent {
    .date {
      color: color(black);
    }
  }

  &--with-bg {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: color(black);
    color: color(white);

    @include mask(rgba(color(black), 0.5));
  }
}

.content-header__wrap {
  @include wrapper;
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 35px;
}

.content-header__control {
  margin-bottom: get($y, medium, size-40);
}

.content-header__heading {
  margin: 0;
  margin-bottom: 0;
}

.content-header__date {
  margin-top: 20px;
}

.content-header__heading-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-header__badge {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

@include respond-to(medium) {
  .content-header__inner {
    padding-top: 30px;
    padding-bottom: 55px;
  }

  .content-header__control {
    margin-bottom: get($y, medium, size-40);
  }

  .content-header__badge {
    width: 44px;
    height: 44px;
  }
}

@include respond-to(large) {
  .content-header__wrap {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .content-header__control {
    margin-bottom: get($y, large, size-40);
  }

  .content-header__heading {
    width: 75%;
  }

  .content-header__heading-wrap {
    .content-header__heading {
      width: auto;
    }
  }

  .content-header__badge {
    width: 48px;
    height: 48px;
  }
}
