mixin content-header(data)
    +el({
        tag: 'header',
        class: 'content-header',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
        style: data.image ? 'background-image: url(./assets/images/' + data.image + ');' : data.style,
    })&attributes(attributes)
        .content-header__wrap
            if data.text
                .content-header__row
                    .content-header__column.content-header__column--main
                        +control({
                            tag: 'a',
                            position: 'before',
                            mod: ['prev', 'with-text'],
                            mix: 'content-header__control',
                            text: 'Назад',
                        })
                        +el({
                            tag: 'h1',
                            class: 'content-header__heading',
                            text: data.heading,
                        })
                    +el({
                        class: 'content-header__column',
                        mod: 'text',
                        text: data.text
                    })
            else
                if data.arrow != 'no'
                    +control({
                        tag: 'a',
                        position: 'before',
                        mod: ['prev', 'with-text'],
                        mix: 'content-header__control',
                        text: 'Назад',
                    })
                if data.heading
                    if data.badge
                        .content-header__heading-wrap
                            +el({
                                tag: 'h1',
                                class: 'content-header__heading',
                                text: data.heading,
                            })
                            +circle({
                                text: data.badge,
                                mix: 'content-header__badge',
                                mod: data.badgemod,
                            })
                    else
                        +el({
                            tag: 'h1',
                            class: 'content-header__heading',
                            text: data.heading,
                        })

                if data.date
                    +date({
                        text: data.date,
                        mix: 'content-header__date'
                    })
