include ./el.pug
include ./head.pug
include ./scripts.pug
include ./data/data-main-nav
include ./data/data-aside-nav
include ./data/data-brends
include ./data/data-equipment
include ./data/data-news
include ./data/data-reviews
include ./data/data-assortiment
include ./data/data-specification
include ./data/data-shedule
