include ./el.pug
include ./head.pug
include ./scripts.pug
include ./data/data-main-nav
include ./data/data-social
include ./data/data-goods
include ./data/data-features


//- include ./data/data-aside-nav
//- include ./data/data-brends
//- include ./data/data-equipment
//- include ./data/data-news
include ./data/data-reviews
//- include ./data/data-assortiment
//- include ./data/data-specification
//- include ./data/data-shedule

include ../blocks/button-nav/button-nav.pug
include ../blocks/link/link.pug
include ../blocks/circle/circle.pug
include ../blocks/button-w-circle/button-w-circle.pug
include ../blocks/button/button.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/header/header.pug
include ../blocks/social/social.pug
include ../blocks/callback/callback.pug
include ../blocks/search/search.pug
include ../blocks/callback/callback.pug
include ../blocks/form/f.pug
include ../blocks/form/form.pug
include ../blocks/field/field.pug
include ../blocks/social-link/social-link.pug
include ../blocks/field-primary/field-primary.pug
include ../blocks/field-secondary/field-secondary.pug
include ../blocks/checkbox-confirm/checkbox-confirm.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/radio-button/radio-button.pug
include ../blocks/control/control.pug
include ../blocks/button-close/button-close.pug
include ../blocks/intro/intro.pug
include ../blocks/teaser/teaser.pug
include ../blocks/catalog-preview/catalog-preview.pug
include ../blocks/tabs/tabs.pug
include ../blocks/goods-item/goods-item.pug
include ../blocks/goods-list/goods-list.pug
include ../blocks/order/order.pug
include ../blocks/features/features.pug
include ../blocks/features-item/features-item.pug
include ../blocks/reviews/reviews.pug
include ../blocks/reviews-item/reviews-item.pug
include ../blocks/gallery/gallery.pug
include ../blocks/gallery-item/gallery-item.pug
include ../blocks/events/events.pug
include ../blocks/franchise/franchise.pug
include ../blocks/footer/footer.pug
include ../blocks/overlay/overlay.pug
include ../blocks/main-nav-lvl-2/main-nav-lvl-2.pug
include ../blocks/sticker/sticker.pug
include ../blocks/modal/modal.pug
