mixin field-secondary(data)
    +el({
        tag: 'label',
        class: 'field-secondary',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        if data.label
            +el({
                tag: 'span',
                class: data.isLabel ? 'field-secondary__label' : 'hidden',
                text: data.label,
            })
        +el({
            tag: data.tag ? data.tag : 'input',
            class: 'field-secondary__input',
            type: data.type,
            placeholder: data.placeholder,
            value: data.value,
            name: data.name,
            pattern: data.pattern,
            tabindex: '0',
            readonly: data.readonly,
            required: data.required,
            min: data.min,
            max: data.max,
        })&attributes(attributes)
        if data.icon
            +el({
                tag: 'span',
                class: 'field-secondary__icon',
                after: {
                    tag: 'svg',
                    icon: data.icon,
                }
            })
