mixin table-store(data)
    +el({
        class: 'table-store',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        // data-map-coords координаты для карты
        each row, index in data.table
            +el({
                class: 'table-store__tr',
                js: 'table-store-row',
                mix: row.mix,
            })(data-map-coords=row.coords)
                .table-store__th.js-table-store-heading
                    | !{row.heading}
                .table-store__td.table-store__td--social
                    +social-link({
                        icon: 'vk',
                        mod: 'border-black',
                    })
                .table-store__td.table-store__td--time
                    | !{row.time}
                .table-store__td.table-store__td--button
                    +button({
                        tag: 'a',
                        text: 'Показать на карте',
                        mod: 'bg-black',
                        js: 'table-store-button',
                    })
