mixin cart(data)
    +el({
        class: 'cart',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
        text: data.text,
    })&attributes(attributes)
        .cart__wrap
            +el({
                class: 'table-goods',
                mix: 'cart__table'
            })
                each item in data.items
                    .table-goods__row
                        +el({
                            class: 'table-goods__cell',
                            mod: 'image',
                        })
                            +el({
                                tag: 'a',
                                class: 'table-goods__image-wrap',
                            })
                                +el({
                                    tag: 'img',
                                    class: 'table-goods__image',
                                    upload: item.image,
                                })
                        +el({
                            class: 'table-goods__cell',
                            mod: 'info',
                        })
                            .table-goods__cell-inner
                                +el({
                                    tag: 'h3',
                                    class: 'table-goods__heading',
                                    text: item.heading
                                })
                                +el({
                                    class: 'table-goods__text',
                                    mod: 'articul',
                                    text: 'артикул: 28540040'
                                })
                                +button-remove({
                                    text: 'удалить',
                                    mix: 'table-goods__button-remove',
                                    mod: 'w-text',
                                    position: 'before',
                                })
                        +el({
                            class: 'table-goods__cell',
                            mod: 'size',
                        })
                            +el({
                                class: 'table-goods__title',
                                text: 'Размер'
                            })
                            +el({
                                class: 'table-goods__value',
                                text: 'XS'
                            })
                        +el({
                            class: 'table-goods__cell',
                            mod: 'counter',
                        })
                            +el({
                                class: 'table-goods__title',
                                text: 'Количество'
                            })
                            +counter({
                                mix: 'table-goods__counter',
                            })
                        +el({
                            class: 'table-goods__cell',
                            mod: 'price',
                        })
                            +el({
                                class: 'table-goods__title',
                                text: 'Цена'
                            })
                            +el({
                                class: 'table-goods__value',
                                text: '2300 Р'
                            })
            .cart__total
                | Итого:
                span.cart__total-price
                    | 2300 Р
            +f({
            })
                .cart__submit-wrap
                    +button({
                        text: 'Оформить заказ',
                        mod: 'bg-primary',
                        mix: 'cart__submit',
                    })
