mixin tabs(data)
    +el({
        class: 'tabs',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'tabs__list',
        })
            +el({
                tag: 'li',
                class: 'tabs__line',
                js: 'line',
            })
            each item, index in data.items
                +el({
                    tag: 'li',
                    class: 'tabs__item',
                    mix: index == 0 ? 'active' : '',
                })
                    +el({
                        tag: 'button',
                        class: 'tabs__button',
                        text: item.text,
                        js: 'tabs-button',
                    })(data-tab='tab-' + (index + 1))
