.tabs {
  text-align: center;
}

.tabs__list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include ul-no;
  margin-bottom: -5px;
}

.tabs__item {
  margin: 0;
  margin-bottom: 5px;
  font-family: font(secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: color(black);
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    order: 9999;

    .tabs__button {
      border-bottom: 2px solid color(black);
      font-size: 24px;
    }
  }
}

.tabs__button {
  display: inline-block;
  padding: 5px 15px;
  color: inherit;
  outline: none;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

@include respond-to(medium) {
  .tabs__list {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 2px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -9999px;
      right: -9999px;
      height: 2px;
      background-color: #f5f5f5;
    }
  }

  .tabs__item {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 24px;

    &.active {
      order: 0;

      .tabs__button {
        border-bottom: none;
      }
    }
  }

  .tabs__button {
    padding: 20px 30px;
    border-bottom: none;
  }

  .tabs__line {
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 1;
    display: block;
    height: 3px;
    background-color: color(black);
    transition: duration(md) func(primary);
  }
}

@include respond-to(large) {
  .tabs__item {
    margin-right: 20px;
  }

  .tabs__button {
    padding: 30px 40px;
  }
}
