mixin search(data)
    +f({
        class: 'search',
        mix: data.mix,
        mod: data.mod,
        js: 'search',
    })&attributes(attributes)
        label.search__field
            span.hidden Поиск по сайту
            +el({
                tag: 'input',
                type: 'search',
                requaired: true,
                mix: 'search__input',
                placeholder: 'Поиск',
            })
            +button-w-circle({
                tag: 'span',
                mix: 'search__submit',
                mod: 'bg-black',
                type: 'submit',
                icon: 'search',
                js: 'search-submit'
            })
