mixin posts-item(data)
    +el({
        tag: 'article',
        class: 'posts-item',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'a',
            class: 'posts-item__image-wrap',
        })
            +el({
                tag: 'img',
                upload: data.image,
                class: 'posts-item__image'
            })
        .posts-item__content
            +date({
                text: data.date,
                mix: 'posts-item__date',
            })
            +el({
                tag: 'h4',
                class: 'posts-item__heading',
                before: {
                    tag: 'a',
                    text: data.heading,
                    class: 'posts-item__heading-link',
                }
            })
            .posts-item__link-wrap
                +link({
                    text: 'Читать',
                    mod: 'primary',
                    mix: 'posts-item__link',
                })
