mixin process(data)
    +el({
        tag: 'section',
        class: 'process',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'h3',
            class: 'process__heading',
            text: data.heading,
        })
        +el({
            tag: 'ol',
            class: 'process__list',
        })
            each item, index in data.items
                +el({
                    tag: 'li',
                    class: 'process__item',
                })
                    +process-item({
                        image: item.image,
                        text: item.text
                    })
