-
    var social = [
        {
            icon: 'fb',
            title: 'Мы в Фейсбуке',
            linkMod: 'bg-black',
        },
        {
            icon: 'vk',
            title: 'Мы в Контакте',
            linkMod: 'bg-black',
        },
        {
            icon: 'inst',
            title: 'Мы в Инстаграме',
            linkMod: 'bg-black',
        },
    ]

-
    var socialFooter = [
        {
            icon: 'fb',
            title: 'Мы в Фейсбуке',
            linkMod: 'bg-light',
        },
        {
            icon: 'vk',
            title: 'Мы в Контакте',
            linkMod: 'bg-light',
        },
        {
            icon: 'inst',
            title: 'Мы в Инстаграме',
            linkMod: 'bg-light',
        },
    ]
