-
    var mainNav = [
        {
            text: 'Одежда',
            href: 'page-goods.html',
            mod: 'with-next-lvl',
            js: 'link-secondary',
            items: [
                {
                    text: 'Куртки',
                },
                {
                    text: 'Футболки',
                },
                {
                    text: 'Толстовки',
                },
                {
                    text: 'Обувь',
                },
                {
                    text: 'Обувь',
                },
                {
                    text: 'Куртки',
                },
                {
                    text: 'Футболки',
                },
                {
                    text: 'Толстовки',
                },
                {
                    text: 'Обувь',
                },
                {
                    text: 'Обувь',
                },
            ]
        },
        {
            text: 'Аксессуары',
            href: 'page-accessories.html',
            mod: 'with-next-lvl',
            js: 'link-secondary',
            items: [
                {
                    text: 'Куртки',
                },
                {
                    text: 'Футболки',
                },
                {
                    text: 'Толстовки',
                },
                {
                    text: 'Обувь',
                },
                {
                    text: 'Куртки',
                },
                {
                    text: 'Футболки',
                },
                {
                    text: 'Толстовки',
                },
                {
                    text: 'Обувь',
                },
            ]
        },
        {
            text: 'Оплата и доставка',
            href: 'page-delivery.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];
