-
    var anchors = [
        {
            text: 'Анораки',
        },
        {
            text: 'куртки',
        },
        {
            text: 'кофты',
        },
        {
            text: 'ветровки',
        },
        {
            text: 'штаны',
        },
        {
            text: 'футболки',
        },
        {
            text: 'шорты',
        },
        {
            text: 'рюкзаки',
        },
        {
            text: 'сумки',
        },
        {
            text: 'аксессуары',
        },
        {
            text: 'женские футболки',
        },
        {
            text: 'панамы/кепки',
        },
        {
            text: 'очки',
        },
        {
            text: 'жилеты',
        },
        {
            text: 'шапки',
        }
    ]
