-
    var tableStore = [
        {
            heading: 'Ялта - ул. Московская 3',
            time: 'c 10:00 - 19:00',
        },
        {
            heading: 'Керчь - Площадь Ленина',
            time: 'c 10:00 - 19:00',
        },
        {
            heading: 'Красноперекопск - ул. Калинина 1',
            time: 'c 10:00 - 19:00',
        },
        {
            heading: 'Черноморское - улица Южная 56-а',
            time: 'пн-сб 9:00 - 17:00<br> вс 9:00 - 15:00',
        },
        {
            heading: 'Севастополь - ул. Очаковцев 19',
            time: 'c 10:00 - 19:00',
        },
        {
            heading: 'Краснодар - ул. Октябрьская 77',
            time: 'c 10:00 - 19:00',
        },
        {
            heading: 'Екатеринбург - ул. Кузнецова д.8',
            time: 'c 14:00-20:00',
        },
        {
            heading: 'Ярославль - просп. Московский 108',
            time: 'c 10:00 - 19:00',
        },
        {
            heading: 'Каменск-Уральский проспект Победы 66',
            time: '11:00-19:00<br> пт-сб 11:00-18:00',
        },
        {
            heading: 'Брест - ул. Советская 85',
            time: 'c 10:00 - 19:00',
        },
    ];
