-
    var features = [
        {
            icon: 'needle',
            text: '<p>Собственное производство  и <br>новейшее оборудование</p>'
        },
        {
            icon: 'people',
            text: '<p>Отдел изучения <br>молодёжной моды</p>'
        },
        {
            icon: 'button',
            text: '<p>Регулярно посещяем выставки <br>тканей и&nbsp; фурнитуры</p>'
        },
    ];
