- heading01 = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor'
- heading02 = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit'
- heading03 = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.'
- image01 = 'news01.jpg'
- image02 = 'news02.jpg'
- image03 = 'news03.jpg'
- text = 'УЗН-03 – полуавтоматическая настольная закаточная машина для предприятий настольная закаточная машина для предприятий'
- date = '21.04.2019'

-
    var posts = [
        {
            image: 'image01.jpg',
            date: date,
            heading: heading01,
        },
        {
            image: 'image02.jpg',
            date: date,
            heading: heading02,
        },
        {
            image: 'image03.jpg',
            date: date,
            heading: heading03,
        },
        {
            image: 'image01.jpg',
            date: date,
            heading: heading02,
        },
        {
            image: 'image04.jpg',
            date: date,
            heading: heading01,
        },
        {
            image: 'image05.jpg',
            date: date,
            heading: heading02,
        },
    ];
