mixin header(data)
    +el({
        tag: 'header',
        class: 'header',
        mix: data.mix,
        mod: data.mod,
        js: 'header',
    })&attributes(attributes)
        .header__inner
            ul.header__list.header__list--mobile
                li.header__item
                    +button-nav({
                        mix: 'header__button-nav',
                        js: 'button-nav',
                    })
                li.header__item.header__item--search
                    +button-w-circle({
                        icon: 'search',
                        ariaLabel: 'Окрыть поиск по сайту',
                        mod: 'bg-black',
                        js: 'button-search',
                    })
                li.header__item.header__item--callback
                    +button-w-circle({
                        icon: 'tel',
                        ariaLabel: 'Позвонить',
                        mod: 'bg-black',
                        js: 'button-callback',
                    })
            +el({
                tag: 'a',
                class: 'header__logo-wrap',
                mod: 'small',
                href: 'page-main.html'
            })
                +el({
                    tag: 'img',
                    class: 'header__logo',
                    image: 'logo-secondary-white.svg'
                })
            ul.header__list.header__list--user-mobile
                li.header__item
                    +button-w-circle({
                        icon: 'user',
                        title: 'Личный кабинет',
                        mod: 'bg-black',
                        js: 'login-button',
                    })
                li.header__item
                    +button-w-circle({
                        icon: 'star',
                        title: 'Избранное',
                        badge: '2',
                        mod: 'bg-black',
                    })
                li.header__item
                    +button-w-circle({
                        icon: 'cart',
                        title: 'Корзина',
                        badge: '4',
                        mod: 'bg-black',
                    })
            .header__dialog.header__dialog--search.js-dialog.js-dialog-search
                +button-remove({
                    mix: 'header__dialog-remove',
                    mod: 'bg-black',
                    js: 'close-search',
                })
                +search({
                    mix: 'header__search header__search--mobile',
                })
            .header__dialog.header__dialog--callback.js-dialog.js-dialog-callback
                +button-remove({
                    mix: 'header__dialog-remove',
                    mod: 'bg-black',
                    js: 'close-callback',
                })
                +callback({
                    mix: 'header__callback header__callback--mobile'
                })
            .header__panel.js-panel-main-nav
                .header__panel-top
                    +el({
                        tag: 'a',
                        class: 'header__logo-wrap',
                        mod: 'large',
                        href: 'page-main.html'
                    })
                        +el({
                            tag: 'img',
                            class: 'header__logo',
                            image: 'logo-primary.svg'
                        })
                .header__panel-content.nano
                    .header__panel-content-inner.nano-content
                        nav.header__main-nav-wrap(aria-label='Основное меню' itemscope itemtype='http://schema.org/SiteNavigationElement')
                            +main-nav({
                                items: mainNav,
                                mix: 'header__main-nav'
                            })
                        ul.header__list.header__list--user-desktop
                            li.header__item
                                +button-w-circle({
                                    icon: 'user',
                                    title: 'Личный кабинет',
                                    mod: 'bg-black',
                                    js: 'login-button',
                                })
                            li.header__item
                                +button-w-circle({
                                    icon: 'star',
                                    title: 'Избранное',
                                    badge: '2',
                                    mod: 'bg-black',
                                })
                            li.header__item
                                +button-w-circle({
                                    icon: 'cart',
                                    title: 'Корзина',
                                    badge: '4',
                                    mod: 'bg-black',
                                })
                        +search({
                            mix: 'header__search header__search--desktop',
                        })
                        +callback({
                            mix: 'header__callback header__callback--desktop'
                        })
                        +social({
                            mix: 'header__social',
                            items: social,
                            text: 'Присоеденяйся к нам',
                            linkMod: 'bg-black',
                        })
        +overlay({
            js: 'header-overlay',
            mix: 'header__overlay',
        })
