mixin order(data)
    +el({
        class: 'order',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .order__wrap
            .order__inner
                .order__heading
                    | <span>Ты можешь не просто приобрести у нас одежду, </span>но&nbsp;и&nbsp;разместить заказ на индивидуальное производство любых вещей
                .order__button-wrap
                    +button({
                        tag: 'a',
                        mix: 'order__button',
                        mod: 'border-white',
                        text: 'Узнать подробнее',
                    })
