.gallery__wrap {
  @include wrapper;
}

.gallery__inner {
  padding-top: 20px;
  padding-bottom: 60px;
}

.gallery__heading {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.gallery__list {
  @include ul-no;
}

.gallery__item {
  &:nth-child(n + 5) {
    display: none;
  }

  &--large {
    height: 110vw;
  }

  &--medium {
    height: 80vw;
  }

  &--small {
    height: 60vw;
  }
}

.gallery__bottom {
  text-align: center;
  margin-top: 20px;
}

.gallery__link {
  display: inline-block;
}

@include respond-to(420px) {
  .gallery__list {
    column-count: 2;
    column-gap: 20px;
  }

  .gallery__item {
    &:nth-child(n + 5) {
      display: block;
    }

    &:nth-child(n + 7) {
      display: none;
    }

    &--large {
      height: 55vw;
    }

    &--medium {
      height: 45vw;
    }

    &--small {
      height: 30vw;
    }
  }
}

@include respond-to(medium) {
  .gallery__inner {
    padding-top: 40px;
    padding-bottom: 140px;
  }

  .gallery__heading {
    margin-bottom: 70px;
  }

  .gallery__list {
    column-count: 3;
  }

  .gallery__item {
    &:nth-child(n + 7) {
      display: block;
    }

    &--large {
      height: 35vw;
    }

    &--medium {
      height: 25vw;
    }

    &--small {
      height: 17vw;
    }
  }

  .gallery__bottom {
    margin-top: 40px;
  }
}

@include respond-to(large) {
  .gallery__inner {
    padding-top: 120px;
    padding-bottom: 240px;
  }

  .gallery__heading {
    margin-bottom: 100px;
  }

  .gallery__list {
    column-gap: 30px;
  }

  .gallery__item {
    margin-bottom: 25px;

    &--large {
      height: 500px;
    }

    &--medium {
      height: 370px;
    }

    &--small {
      height: 250px;
    }
  }

  .gallery__bottom {
    margin-top: 60px;
  }
}
