.gallery__wrap {
  @include wrapper;
  padding-top: get($y, small, size-120);
  padding-bottom: get($y, small, size-240);
}

.gallery__heading {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.gallery__list {
  @include ul-no;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.gallery__item {
  margin-bottom: 20px;
  float: left;

  &:nth-child(n + 5) {
    display: none;
  }

  &:nth-child(9n + 1),
  &:nth-child(9n + 5),
  &:nth-child(9n + 9) {
    height: 110vw;
  }

  &:nth-child(9n + 3),
  &:nth-child(9n + 4),
  &:nth-child(9n + 8) {
    height: 80vw;
  }

  &:nth-child(9n + 2),
  &:nth-child(9n + 6),
  &:nth-child(9n + 7) {
    height: 60vw;
  }

  &.active {
    &:nth-child(n + 5) {
      display: block;
    }
  }
}

.gallery__bottom {
  text-align: center;
  margin-top: 20px;
}

.gallery__link {
  display: inline-block;
}

@include respond-to(420px) {
  .gallery__list {
    position: relative;
    margin: 0 -10px;
  }

  .gallery__item {
    width: 50%;
    padding: 0 10px;

    &:nth-child(2n) {
      margin-right: 0;
      left: calc(50% + 20px);
    }

    &:nth-child(n + 5) {
      display: block;
    }

    &:nth-child(n + 9) {
      display: none;
    }

    &:nth-child(9n + 1),
    &:nth-child(9n + 3),
    &:nth-child(9n + 6) {
      height: 55vw;
    }

    &:nth-child(9n + 4),
    &:nth-child(9n + 6),
    &:nth-child(9n + 9) {
      height: 45vw;
    }

    &:nth-child(9n + 2),
    &:nth-child(9n + 5),
    &:nth-child(9n + 8) {
      height: 30vw;
    }
  }
}

@include respond-to(medium) {
  .gallery__wrap {
    padding-top: get($y, medium, size-120);
    padding-bottom: get($y, medium, size-240);
  }

  .gallery__heading {
    margin-bottom: 70px;
  }

  .gallery__item {
    width: 33.33%;

    &:nth-child(n + 8) {
      display: block;
    }

    &:nth-child(n + 10) {
      display: none;
    }

    &:nth-child(9n + 1),
    &:nth-child(9n + 4),
    &:nth-child(9n + 7) {
      height: 35vw;
    }

    &:nth-child(9n + 3),
    &:nth-child(9n + 6),
    &:nth-child(9n + 8) {
      height: 25vw;
    }

    &:nth-child(9n + 2),
    &:nth-child(9n + 5),
    &:nth-child(9n + 9) {
      height: 17vw;
    }
  }

  .gallery__bottom {
    margin-top: 40px;
  }
}

@include respond-to(large) {
  .gallery__wrap {
    padding-top: get($y, large, size-120);
    padding-bottom: get($y, large, size-240);
  }

  .gallery__heading {
    margin-bottom: 100px;
  }

  .gallery__list {
    column-gap: 30px;
  }

  .gallery__item {
    margin-bottom: 30px;
    height: 50px;

    &:nth-child(9n + 1),
    &:nth-child(9n + 4),
    &:nth-child(9n + 7) {
      height: 500px;
    }

    &:nth-child(9n + 3),
    &:nth-child(9n + 6),
    &:nth-child(9n + 8) {
      height: 370px;
    }

    &:nth-child(9n + 2),
    &:nth-child(9n + 5),
    &:nth-child(9n + 9) {
      height: 250px;
    }
  }

  .gallery__bottom {
    margin-top: 60px;
  }
}
