.control {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  outline: none;

  &--prev {
    .control__icon {
      transform: rotate(180deg);
    }
  }

  &--with-text {
    display: inline-flex;
    align-items: center;
    width: auto;
  }

  @include hover {
    .control__icon {
      opacity: 0.6;
    }
  }

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.control--prev.control--with-text {
  .control__icon-wrap {
    margin-right: 20px;
  }
}

.control--next.control--with-text {
  .control__icon-wrap {
    margin-left: 20px;
  }
}

.control__icon-wrap {
  flex-shrink: none;
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 4px;
}

.control__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.control__label {
  display: none;
}

@include respond-to(large) {
  .control {

    &--w-label {
      position: relative;

      @include hover {
        .control__label {
          display: block;
        }
      }
    }
  }

  .control--w-label.control--prev {
    .control__label {
      right: -20px;
      transform: translate(100%);
    }
  }

  .control--w-label.control--next {
    .control__label {
      left: -20px;
      transform: translate(-100%);
    }
  }

  .control__label {
    position: absolute;
    padding: 5px;
    display: none;
    background-color: color(white);
    font-size: 16px;
    line-height: 20px;
  }
}
