mixin pagination(data)
    +el({
        class: 'pagination',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .pagination__wrap
            +control({
                tag: 'button',
                mod: ['prev', 'w-label'],
                mix: 'pagination__control disabled',
                after: {
                    tag: 'span',
                    class: 'control__label',
                    text: 'Предыдущая'
                }
            })(tabindex='0')
            +el({
                tag: 'ul',
                class: 'pagination__list',
            })
                li.pagination__item.active
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '1',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '2',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '3',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '4',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '5',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '6',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '7',
                        js: 'pagination-link'
                    })
                li.pagination__item
                    +el({
                        tag: 'a',
                        class: 'pagination__link',
                        text: '8',
                        js: 'pagination-link',
                    })
            +control({
                tag: 'button',
                mod: ['next', 'w-label'],
                mix: 'pagination__control',
                after: {
                    tag: 'span',
                    class: 'control__label',
                    text: 'Следующая'
                }
            })(tabindex='0')
