mixin reviews(data)
    +el({
        class: 'reviews',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .reviews__wrap

                .reviews__top
                    h2.reviews__heading Что говорят о Bandit
                    .reviews__control
                        +control({
                            tag: 'button',
                            mod: 'prev',
                            mix: 'swiper-prev'
                        })
                        +control({
                            tag: 'button',
                            mod: 'next',
                            mix: 'swiper-next'
                        })

                +el({
                    class: 'reviews__slider-wrap',
                })
                    .js-swiper-reviews.swiper-container
                        .swiper-wrapper
                            each item in data.items
                                +el({
                                    class: 'reviews__item',
                                    mix: 'swiper-slide',
                                })
                                    +reviews-item({
                                        social: item.social,
                                        text: item.text,
                                        heading: item.heading,
                                        image: item.image,
                                    })
