mixin goods-list(data)
    +el({
        tag: 'ul',
        class: 'goods-list',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        each item in data.goods
            +el({
                tag: 'li',
                class: 'goods-list__item',
            })
                +goods-item({
                    heading: item.heading,
                    image: item.image,
                    price: item.price
                })
