mixin social(data)
    +el({
        class: 'social',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        if data.text
            +el({
                class: 'social__text',
                text: data.text,
            })
        +el({
            tag: 'ul',
            class: 'social__list',
        })
            each item in data.items
                +el({
                    tag: 'li',
                    class: 'social__item',
                    mod: item.mod,
                })
                    +social-link({
                        icon: item.icon,
                        mod: data.linkMod
                    })
