.content {

}

.content__wrap {
  @include wrapper;
}

.content__card {
  margin-bottom: get($y, small, size-180);
}

@include respond-to(medium) {
  .content {

  }

  .content__card {
    margin-bottom: get($y, medium, size-180);
  }
}

@include respond-to(large) {
  .content {

  }

  .content__card {
    margin-bottom: get($y, large, size-180);
  }
}
