.button-close {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;

  &--bg-black {
    background-color: color(black);

    @include hover {
      background-color: color(light);

      .button-close__icon {
        @include icon-cross-color (color(black));
      }
    }
  }

  &--bg-primary {
    background-color: color(primary);

    @include hover {
      background-color: color(black);

      .button-close__icon {
        @include icon-cross-color (color(light));
      }
    }
  }
}

.button-close__icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  @include icon-cross(2px, color(white), 45deg);
}

@include respond-to(large) {
  .button-close {
    width: 46px;
    height: 46px;
    padding: 10px;
  }
}
