.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  padding: 4px;
  border: 1px solid;
  border-radius: 50%;
  text-decoration: none;

  &--bg-black {
    background-color: color(black);
    border-color: color(black);
    color: color(light);

    .circle__icon {
      fill: color(light);
    }
  }

  &--bg-white {
    background-color: color(white);
    border-color: color(white);
    color: color(black);

    .circle__icon {
      fill: color(black);
    }
  }
}

.circle__icon {
  display: block;
  width: 16px;
  height: 16px;
}

.circle__text {
  display: inline-block;
  font-family: font(secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  transform: translateY(2px);
}

@include respond-to(large-lg) {
  .circle {
    height: 40px;
    width: 40px;
  }

  .circle__icon {
    width: 20px;
    height: 20px;
  }

  .circle__text {
    font-size: 30px;
  }
}
