.delivery__wrap {
  @include wrapper;
  @include first-last;
}

.delivery__heading {
  margin: 0;
  margin-bottom: 30px;
  color: color(primary);
  font-family: font(secondary);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.delivery__process {
  margin-bottom: get($y, small, size-200);
}

.delivery__text {
  text-align: center;

  @include first-last;
}

@include respond-to(medium) {
  .delivery {
    &--rus {
      .delivery__heading {
        background-image: url('../assets/images/bg-map-rus.png');
      }
    }

    &--world {
      .delivery__heading {
        background-image: url('../assets/images/bg-map-world.png');
      }
    }
  }

  .delivery__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    margin-bottom: 70px;
    font-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 250px;
  }

  .delivery__process {
    margin-bottom: get($y, medium, size-200);
  }

  .delivery__text {
    text-align: get($x, medium, size-100);
  }
}

@include respond-to(large) {
  .delivery__heading {
    min-height: 290px;
    margin-bottom: 140px;
    font-size: 44px;
    background-size: auto 290px;
  }

  .delivery__process {
    margin-bottom: get($y, large, size-200);
  }

  .delivery__text {
    text-align: get($x, large, size-100);
  }
}
