.events {
  background-color: color(black);
  color: color(white);
}

.events__wrap {
  @include wrapper;
  padding-top: get($y, small, size-170);
  padding-bottom: get($y, small, size-120);
}

.events__heading {
  margin: 0;
  margin-bottom: 35px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include ul-no;
}

.events__item {
  margin-bottom: 0;
  width: 50%;
}

.events__link {
  display: block;
  text-decoration: none;
}

.events__image {
  display: block;
}

@include respond-to(medium) {
  .events__wrap {
    padding-top: get($y, medium, size-170);
    padding-bottom: get($y, medium, size-120);
  }

  .events__heading {
    margin-bottom: 55px;
  }

  .events__item {
    width: 33.33%;
  }
}

@include respond-to(large) {
  .events__wrap {
    padding-top: get($y, large, size-170);
    padding-bottom: get($y, large, size-120);
  }

  .events__heading {
    margin-bottom: 75px;
  }

  .events__item {
    width: 25%;
  }
}
