.exchange {
  padding-top: get($y, small, size-120);
  padding-bottom: get($y, small, size-200);
}

.exchange__wrap {
  @include wrapper;
}

.exchange__row {
  margin-bottom: 50px;
}

.exchange__col {
  &--left {
    margin-bottom: 40px;
  }
}

.exchange__text {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.exchange__image {
  display: inline-block;
}

.exchange__contact-text {
  margin-bottom: 60px;
}

.exchange__contact-text {
  text-align: center;
  margin-bottom: 20px;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-to(medium) {
  .exchange {
    padding-top: get($y, medium, size-120);
    padding-bottom: get($y, medium, size-200);
  }

  .exchange__row {
    display: flex;
    margin-bottom: 100px;
  }

  .exchange__col {
    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 300px);
      margin-bottom: 0;
      padding-right: 50px;
    }

    &--right {
      flex-shrink: 0;
    }
  }

  .exchange__image {
    margin: 0;
    width: 300px;
  }

  .exchange__contact-text {
    margin-bottom: 60px;
  }
}

@include respond-to(large) {
  .exchange {
    padding-top: get($y, large, size-120);
    padding-bottom: get($y, large, size-200);
  }

  .exchange__row {
    margin-bottom: 150px;
  }

  .exchange__col {
    &--left {
      width: calc(100% - 434px);
      padding-right: 50px;
    }
  }

  .exchange__image {
    width: 434px;
  }

  .exchange__contact-text {
    margin-bottom: 80px;
  }
}
