.gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.gallery-item__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center top);
}

.gallery-item__descr {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-family: font(primary);
  font-size: 13px;
  font-weight: 700;
  line-height: 1.7;
  color: color(white);
  text-transform: uppercase;
}

@include respond-to(medium) {
  .gallery-item__descr {
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 15px;
  }
}
