.intro {
  position: relative;
  min-height: calc(100vh - 60px);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: color(light-gray);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: color(black);
  color: color(white);

  @include mask(rgba(color(black), 0.5));
}

.intro__wrap {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: pads(small);
  padding-right: pads(small);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__heading {
  margin: 0;
  margin-bottom: 30px;
  color: color(white);
  font-family: font(secondary);
  font-size: 80px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.intro__text {
  margin-bottom: 60px;
  color: color(white);
}

.intro__button {
  width: auto;
}

@include respond-to(medium) {
  .intro {
    min-height: auto;
  }

  .intro__wrap {
    padding-left: pads(medium);
    padding-right: pads(medium);
    padding-top: 155px;
    padding-bottom: 230px;
  }

  .intro__heading {
    font-size: 90px;
  }

  .intro__text {
    margin-bottom: 100px;
  }
}

@include respond-to(large) {
  .intro {
    min-height: 800px;
  }

  .intro__wrap {
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 195px;
    padding-bottom: 270px;
  }

  .intro__heading {
    font-size: 100px;
  }

  .intro__text {
    margin-bottom: 140px;
  }
}
