.reviews {

}

.reviews__wrap {
  @include wrapper;
}

.reviews__inner {
  padding-top: 60px;
}

.reviews__top {
  margin-bottom: 30px;
}

.reviews__heading {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.reviews__control {
  display: flex;
  align-items: center;
  justify-content: center;

  .control {
    &--prev {
      margin-right: 50px;
    }
  }
}

.reviews__list {
  @include ul-no;
}

.reviews__item {
  margin-bottom: 60px;
}

@include respond-to(medium) {
  .reviews__inner {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .reviews__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .reviews__heading {
    margin-bottom: 0;
    text-align: left;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -55px;
  }

  .reviews__item {
    width: 50%;
    margin-bottom: 50px;
    padding: 0 55px;
  }
}

@include respond-to(large) {
  .reviews__inner {
    padding-top: 220px;
    padding-bottom: 60px;
  }

  .reviews__top {
    margin-bottom: 50px;
  }

  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -85px;
  }

  .reviews__item {
    width: 50%;
    margin-bottom: 50px;
    padding: 0 85px;
  }
}
