.reviews-item {
  width: 100%;

  .nano > .nano-pane {
    background: rgba(#000, 0.1);
  }

  .nano > .nano-pane > .nano-slider {
    background: rgba(#000, 0.2);
  }
}

.reviews-item__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reviews-item__image-wrap {
  flex-shrink: 0;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: color(light);
  text-decoration: none;
  overflow: hidden;
}

.reviews-item__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
}

.reviews-item__heading {
  margin: 0;
  transform: translateY(2px);
  font-family: font(secondary);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.reviews-item__social-link {
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: auto;
}

.reviews-item__text-wrap {
  height: 250px;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.reviews-item__text {
  position: relative;
  padding-top: 40px;
  padding-right: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpolygon points='0 12.5 3.8 12.5 1 22.1 5.3 22.1 10.1 11.5 10.1 2.4 0 2.4 '/%3E%3Cpolygon points='13.9 2.4 13.9 12.5 17.8 12.5 14.9 22.1 19.2 22.1 24 11.5 24 2.4 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-to(medium) {
  .reviews-item__image-wrap {
    width: 100px;
    height: 100px;
  }

  .reviews-item__heading {
    font-size: 28px;
  }

  .reviews-item__text-wrap {
    height: 290px;
    max-height: none;
  }
}

@include respond-to(large) {
  .reviews-item__image-wrap {
    width: 120px;
    height: 120px;
  }

  .reviews-item__heading {
    font-size: 30px;
  }

  .reviews-item__text-wrap {
    height: 306px;
  }

  .reviews-item__text {
    padding-top: 60px;

    &::after {
      width: 24px;
      height: 24px;
    }
  }
}
