.table-goods__row {
  width: 100%;
  padding: 30px 20px;
  border-bottom: 2px solid color(light);
}

.table-goods__cell {
  text-align: center;

  &--image {
    margin-bottom: 20px;
  }

  &--button {
    margin-top: 10px;
  }

  &--info {
    margin-bottom: 20px;
  }
}

.table-goods__image-wrap {
  display: inline-block;
  width: 135px;
  height: 135px;
}

.table-goods__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
}

.table-goods__heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: font(primary);
  font-size: 18px;
}


.table-goods__text {
  font-family: font(primary);
  font-size: 14px;
  color: #a6a6a6;

  &--articul {
    margin-bottom: 5px;
  }
}

.table-goods__title {
  margin-bottom: 10px;
  font-family: font(primary);
  font-size: 14px;
  color: #a6a6a6;
}

.table-goods__button-remove {
  display: inline-flex;
}

.table-goods__value {
  font-size: 18px;
  font-weight: 700;
}

.table-goods__button {
  width: 100%;
  max-width: 260px;
}



@include respond-to(medium) {
  .table-goods {
    display: table;
    width: 100%;
  }

  .table-goods__row {
    display: table-row;
    padding: 0;
    border-bottom: none;
  }

  .table-goods__cell {
    display: table-cell;
    height: 100%;
    padding: 30px 20px;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--image,
    &--button,
    &--info {
      margin-bottom: 0;
    }

    &--image {
      width: 155px;
      text-align: left;
    }

    &--info {
      text-align: left;
    }

    &--button {
      text-align: right;
    }
  }

  .table-goods__cell-inner {
    display: flex;
    flex-direction: column;
    min-height: 135px;
  }

  .table-goods__image-wrap {
    display: block;
  }

  .table-goods__button-remove {
    margin-top: auto;
    margin-left: -10px;
  }
}

@include respond-to(large) {
  .table-goods__cell {
    padding: 60px 40px;
    border-bottom: 2px solid color(light);

    &--image {
      width: 175px;
    }
  }
}
