.wishlist {

}

.wishlist__row {
  padding: 30px 20px;
  border-bottom: 2px solid color(light);
}

.wishlist__cell {
  text-align: center;

  &--image {
    margin-bottom: 20px;
  }

  &--button {
    margin-top: 10px;
  }

  &--info {
    margin-bottom: 20px;
  }
}

.wishlist__image-wrap {
  display: inline-block;
  width: 135px;
  height: 135px;
}

.wishlist__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
}

.wishlist__heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: font(primary);
  font-size: 18px;
}

.wishlist__text {
  font-family: font(primary);
  font-size: 14px;
  color: #a6a6a6;

  &--articul {
    margin-bottom: 5px;
  }

  &--price {
    margin-bottom: 10px;
  }
}

.wishlist__button-remove {
  display: inline-flex;
}

.wishlist__price {
  font-size: 18px;
  font-weight: 700;
}

.wishlist__button {
  width: 100%;
  max-width: 260px;
}

@include respond-to(medium) {
  .wishlist__wrap {
    padding-left: pads(medium);
    padding-right: pads(medium);
  }

  .wishlist__table {
    display: table;
    width: 100%;
  }

  .wishlist__row {
    display: table-row;
    padding: 0;
    border-bottom: none;
  }

  .wishlist__cell {
    display: table-cell;
    padding: 30px 20px;
    vertical-align: middle;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--image,
    &--button,
    &--info {
      margin-bottom: 0;
    }

    &--image {
      width: 155px;
      text-align: left;
    }

    &--info {
      text-align: left;
    }

    &--button {
      text-align: right;
    }
  }

  .wishlist__button-remove {
    margin-left: -10px;
  }
}

@include respond-to(large) {
  .wishlist__wrap {
    width: width(large);
    margin-left: auto;
    margin-right: auto;
    padding-left: pads(large);
    padding-right: pads(large);
  }

  .wishlist__cell {
    padding: 60px 40px;
    border-bottom: 2px solid color(light);

    &--image {
      width: 175px;
    }
  }
}
