mixin wishlist(data)
    +el({
        tag: 'section',
        class: 'wishlist',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        .wishlist__wrap
            .wishlist__table
                each item in data.items
                    .wishlist__row
                        +el({
                            class: 'wishlist__cell',
                            mod: 'image',
                        })
                            +el({
                                tag: 'a',
                                class: 'wishlist__image-wrap',
                            })
                                +el({
                                    tag: 'img',
                                    class: 'wishlist__image',
                                    upload: item.image,
                                })
                        +el({
                            class: 'wishlist__cell',
                            mod: 'info',
                        })
                            +el({
                                tag: 'h3',
                                class: 'wishlist__heading',
                                text: item.heading
                            })
                            +el({
                                class: 'wishlist__text',
                                mod: 'articul',
                                text: 'артикул: 28540040'
                            })
                            +button-remove({
                                text: 'удалить',
                                mix: 'wishlist__button-remove',
                                mod: 'w-text',
                                position: 'before',
                            })
                        +el({
                            class: 'wishlist__cell',
                            mod: 'price',
                        })
                            +el({
                                class: 'wishlist__text',
                                mod: 'price',
                                text: 'Цена'
                            })
                            +el({
                                class: 'wishlist__price',
                                text: '2300 Р'
                            })
                        +el({
                            class: 'wishlist__cell',
                            mod: 'button',
                        })
                            +button({
                                text: 'Добавить в корзину',
                                mod: 'bg-primary',
                                mix: 'wishlist__button',
                            })
